.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

@media screen and (max-width: 400px) {
  .cards__text {
    margin: 32px 0 20px;
  }

  .cards__list {
    display: grid;
    row-gap: 16px;
    column-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}
