.modal__content_type_image {
  padding: 0;
  max-width: 498px;
  max-height: 610px;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  height: fit-content;
  line-height: 24px;
}

.modal__image {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

.modal__close {
  opacity: 0.3;
}

.modal__caption {
  margin: 0;
  padding: 20px 0 12px 32px;
  grid-area: caption;
}

.modal__weather {
  margin: 0;
  padding: 0 0 32px 32px;
  grid-area: weather;
}

.modal_type_preview {
  padding: 0 20px;
  align-items: center;
}

.modal__footer {
  display: grid;
  grid-template-areas:
    "caption button"
    "weather button";
}

.modal__delete-button {
  grid-area: button;
  border: none;
  background: none;
  padding: 20px 32px 0 0;
  height: 24px;
  color: rgba(255, 77, 0, 1);
}

@media screen and (max-width: 650px) {
  .modal__content_type_image {
    height: fit-content;
    border-radius: 20px;
  }

  .modal__weather {
    padding-bottom: 40px;
  }

  .modal_type_image {
    align-items: center;
  }
}
