.modal__button_sing-up {
  background: none;
  border: none;
  color: rgba(0, 0, 0);
  cursor: pointer;
  font-family: "Cabinet-Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  line-height: 20px;
  opacity: 1;
  position: relative;
  top: 28px;
  left: 70px;
  text-align: left;
  transition: ease-in-out 0.3s;
}

.modal__button_sing-up:hover {
  opacity: 0.6;
}
